<h1>Bouncing Balls Game</h1>

<h2>Welcome @user</h2>
<p>Your current socre is @user_socre,
with @user_wins wins and @user_losses loss</p>


<h1>Please guess the number of bounces</h1>
<h2>@computer_random</h2>

<h2>Submit field</h2>

<p>redirect/you win/you lose</p>

<h1>The score is @user_score_updated</h1>
